/* css cho phan Header */
body{
	width:100%;
	height:687px;
	margin:0;
	pading:0;
	background: #eee;
}

.header{
	width: 100%;
	height: 53px;
	background: #fed700;
    margin-bottom: 10px;
}
.newreponsive, .denbaophu,.buycall{
    display: none;
}
.contentHeader{
	width: 85%;
	margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: row;
}
form{
    height: 100%;
    width: 35%;
}
.logo{
	height: 100%;
    width: 100%;
    background: black;
    position: relative;
}
.avartar{
	height: 29px;
    width: 30px;
    background: url(../image/sanpham/icon.png);
    background-size: 535px 100px;
    position: absolute;
    top: 19%;
    left: 3%;
}
.title{
	height: 30px;
    width: 121px;
    background: url(../image/sanpham/icon.png);
    background-size: 490px 117px;
    background-position-x: -31px;
    position: absolute;
    top: 16%;
    left: 12%;
}
.search{
	position: absolute;
    height: 35px;
    width: 48%;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    top: 13%;
    left: 46%;
    padding-left: 18px;
    outline: none;
}
.iconsearch{
	height: 35px;
    width: 35px;
    background: url(../image/sanpham/icon.png);
    background-position-x: -183px;
    background-size: 586px 116px;
    position: absolute;
	top: 26%;
    right: 5%;
    border: none;
    outline: none;
}

.navabar{
    height: 100%;
    width: 66%;
}

.items{
	width: 10%;
	height: 53px;
	position: relative;
	cursor: pointer;
	float: left;
}

.items:hover{
	background-color: white;
}
.product{
	position: absolute;
	top :2px;
	left: 13%;
	background: url(../image/sanpham/icon.png);
}
.phone{
	background-position-x: -211px;
	background-size: 586px 116px;
	width: 33px;
	height: 35px;
}
.tablet{
	width: 40px;
    height: 35px;
    background-position-x: -244px;
    background-size: 586px 116px;
}

.Laptop{
	width: 49px;
    height: 35px;
    background-position-x: -286px;
    background-size: 586px 116px;
}

.phukien{
	width: 36px;
    height: 35px;
    background-position-x: -333px;
    background-size: 586px 116px;
}
.watch{
    width: 37px;
    height: 38px;
    background-position-x: -1201px;
    background-position-y: 63px;
    background-size: 702px;
}
.older{
	width: 47px;
    height: 35px;
    background-position-x: -368px;
    background-size: 586px 116px;
}
.technology{
    width: 43px;
    height: 35px;
    background-position-x: -509px;
    background-size: 586px 116px;
}
.cart{
    width: 41px;
    height: 37px;
    background-position-x: -361px;
    background-position-y: 243px;
    background-size: 687px;
}
.countitem{
    text-decoration: none;
    position: absolute;
    top: 0px;
    left: 34px;
    font-size: small;
    font-family: monospace;
}
.items  p{
	position: absolute;
	bottom: -6px;
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
	font-weight: 300;
    font-size: 0.6em;
    text-align: center;
}
.sim{
    width: 30px;
    height: 35px;
    background-position-x: -412px;
    background-size: 586px 116px;
    left: 26%;
}
#login{
 	position: absolute;
    bottom: 0px;
    right: 32%;
    text-decoration: none;
    color: black;
    font-size: 13px;
}


.aphone{
    left: 10%;
}
.atablet{
    left: 18%;
}
#alaptop{
    left: 20%;
}
.aphukien, .awatch, .aolder{
    left: 10%;
}
.ahelp{
    left: 10%;
}
.atechnology{
    left: 10%;
}
.asim{
    left: 21%;
}
#asim{
    left: 8%;
}


/* xong css header */


/* CSS CONTAINER */

.container{
	 width: 85%;
	 margin: 0 auto;
	background:#fff;
    height: auto;
    font: 14px/18px Helvetica,Arial,'DejaVu Sans','Liberation Sans',Freesans,sans-serif;
}
.tenchitietsanpham{
    overflow: hidden;
    font-size: 24px;
    color: #333;
    font-weight: 500;
    line-height: 40px;
    height: 55px;
    margin: -8px 0 0px 50px;
    border-bottom: 1px solid #e5e5e5;
    padding-top: 18px;
}
.picture{
    float: left;
    width: 25%;
    height: 88%;
    margin-top: 10px;
}
.picture  .anhsanpham{
    width: 100%;
    height: 318px;
}
.danhgiasanpham{
	width: 100%;
    height: 63px;
    padding-top: 21px;
    text-align: center;
}
.danhgiasanpham > h4{
	margin 0;
	font-size: 18px;
	display:inline;
	color:#fd9727;
}
.xemdanhgia{
	display: block;
    color: dodgerblue;
    text-decoration: underline;
    cursor: pointer;
}
.saodanhgia{
	width: 19px;
    height: 19px;
    display: inline-flex;	
}
.price-sale{
    float: left;
    width: 33%;
    height: 88%;
    margin-top: 10px;
    margin-left: 51px;
}
.area-price{
    width: 100%;
    height: 30px;
}
.area-price .installment{
    float: right;
    background: #f28902;
    color: white;
    width: 76px;
    text-align: center;
    border-radius: 3px;
}

.area-price > strong{
    float: right;
    font-size: 24px;
    color: #e10c00;
    vertical-align: middle;
    margin-right: 10px;
}
.area-promotion{
    width: 100%;
    height: 300px;
    border: 1px solid #ddd;
    border-radius: 4px;
    position: relative;
}
.khuyenmaitieude{
    position: absolute;
    top: 5%;
    left: 7%;
    display: block;
    overflow: hidden;
    font-size: 15px;
    color: #333;
    text-transform: uppercase;
}
.pro521609{
    position: absolute;
    top: 18%;
    left: 9%;
}
.pro521609 > a{
    color: dodgerblue;
    text-decoration: none;
}
.pro521609 > label > span{
    color: #e7362c;
}

.khuyenmaichitiet{
    position: absolute;
    top: 41%;
    left: 9%;
}
.khuyenmaiphukien{
    position: absolute;
    top: 69%;
    left: 9%;
}
.notkhuyenmai{
    position: absolute;
    bottom: 8%;
    left: 3%;
    color: #d0021b;
}
.muangay{
    width: 100%;
    height: 50px;
    margin-top: 6px;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    line-height: normal;
    background: rgb(255,178,15);
    background: linear-gradient(180deg, rgba(255,178,15,1) 0%, rgba(218,83,32,1) 100%);
    font-weight: 700;
    cursor: pointer;
}
.muangay > p{
    display: block;
    font-size: 13px;
    color: white;
    margin: 1px 0 0 0;
    font-weight: 400;
}
.btnmua{
    width: 48.5%;
    height: 50px;
    background: dodgerblue;
    margin: 6px 0 11px 0;
    border-radius: 5px;
    color: white;
    text-align: center;
    cursor: pointer;
}
.btnmua > strong{
    display: block;
    margin-top:5px; 
}
.btnmua > span{
    display: block;
    margin-top: 4px;
}
.muatragop{
    float: left;
}
.tragopquathe{
    float: right;
}
.goidatmua{
    clear: both;
    margin-left: 41px;
}
.goidatmua > span{
    color: dodgerblue;
}

.thongsokithuat{
    float: right;
    width: 32%;
}
.thongsokithuat > h2{
    display: block;
    line-height: 1.3em;
    font-size: 20px;
    color: #333;
    font-weight: 500;
}
.ulkithuat{
    list-style: none;
    padding: 0;
}
.ulkithuat li{
    width: 100%;
    height: 38px;
    border-top: 1px solid #eee;
    padding: 6px 0 0 4px;
}
.ulkithuat li span{
    width: 40%;
    font-size: 14px;
    color: #666;
}
.ulkithuat li div{
    float: right;
    width: 58%;
    font-size: 14px;
    color: #333;
}
.ulkithuat li .mauxanhchitiet{
    color: dodgerblue;
}
.xemcauhinhchitiet{
    width: 97%;
    height: 26px;
    text-decoration: none;
    color: dodgerblue;
    border: 1px solid dodgerblue;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    padding-top: 8px;
}
.xemcauhinhchitiet:hover{
    background: dodgerblue;
    color: white;
}

.clearn{
	height: 62px;
    clear: both;
}

/* FORM DANH GIA SAN PHAM */
.formDanhGia{
	width: 100%;
    height: 208px;
    display: block;
}
.formDanhGia form{
	width: 60%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 42px;
}

.formDanhGia form h4{
	float: left;
	margin: 21px 5px 0 19px;
	font-size: 18px;
}
.group1{
	cursor: pointer;
    width: 10%;
    display: inline-block;
    margin: 18px 0px 14px 20px;
    position: relative;
}
.group1 > label{
	position: absolute;
    top: 0%;
    left: -11%;
    font-size: 20px;
    cursor: pointer;
}
.group1 > label img{
	transform: translate(3px, 1px);
}
.group1 input{
	transform: translate(31px, 2px);
}
textarea{
	clear: both;
    display: block;
    overflow: scroll;
    width: 96.5%;
    min-height: 100px !important;
    border: 1px solid #dadada;
    border-radius: 4px;
    font-size: 13px;
    margin-left: 9px;
}
.submit{
	padding: 5px 25px;
    height: 27px;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #288ad6;
    border-radius: 4px;
    background: #288ad6;
    margin: 12px;
    float: right;
}
#danhgiasanpham{
	margin: 0;
    display: inline-block;
    margin-top: -5px;
}
.hienthidanhgia{
	height: auto;
	width:100%;
	margin-top: 16px;
}

.motdanhgia{
	margin-left: 43px;
	margin-bottom: 9px;
    width: 60%;
    border-radius: 4px;
    height: 92px;
    position: relative;
    border: 1px solid #eee;
}
.motdanhgia > p,.motdanhgia > h4, .ngaydanhgia, .sosaodanhgia, .noidungdanhgia{
	position: absolute;
	margin: 0;
}
.motdanhgia > h4{
	width: 39%;
    font-family: sans-serif;
    left: 2%;
    top: 9%;
}
.motdanhgia .ngaydanhgia{
    top: 11%;
    color: dodgerblue;
    right: 3%;
}
.sosaodanhgia{
	width: 20%;
    top: 36%;
    left: 2%;
}
.saodanhgia1{
	width :14px;
	height:14px;
}
.noidungdanhgia{
    bottom: 10%;
    left: 2%;
    width: 100%;
    font-style: normal;
    line-height: 1.5;
    color: #333;	
}










/* XONG FORM DANH GIA SAN PHAM */

/* XONG CSS CONTAINER */

















/* CSS FOR FOOTER */
.footer{
    width: 100%;
    height: 237px;
    margin: 0 auto;
    background: #fff;
    overflow: hidden;
    clear: both;
    margin-top: 26px;
}
.rowfood1{
    width: 85%;
    height: 100%;
    margin: auto;
}
.rowfood1 ul {
    height: 100%;
    padding-left: 0px;
    margin-top: 20px;
    position: relative;
}
.rowfood1 ul li{
    list-style: none;
    padding-bottom: 10px;
}
.rowfood1 ul li a{
    text-decoration: none;
    display: block;
    color: #288ad6;
    font-size: 14px;
    line-height: 25px;
    padding-top: 5px;
    font-family: sans-serif;
}
.rowfood1 ul li a:hover{
    color: #999;
}
.ul1{
    float: left;
    width: 25%;
    margin: 0;
}
.ul2{
    float: left;
    width: 28%;
    margin: 0;
}
.ul3{
    float: left;
    width: 21%;
    margin: 0;
}
.ul3 li a strong{
    color: #333;
    display: inline;
    padding-right: 67px;
    float: right;
}
.congnhan{
    width: 100px;
    height: 28px;
    background: url("../image/sanpham/icon.png");
    background-position-x: 910px;
    background-position-y: 44px;
    background-size: 456px;
}
.ul4{
    width: 11%;
    float: right;
}

.facebook{
    float: left;
    padding: 0 10px 0 0;
    margin: 9px 17px 2px;
    border-right: 1px solid #e9e9e9;
    font-size: 12px;
    line-height: 1;
    color: #288ad6;
}
.icon-fb{
    width: 14px;
    height: 14px;
    background: url("../image/sanpham/icon.png");
    background-position-x: 1361px;
    background-position-y: 336px;
    position: absolute;
    background-size: 453px;
    top: 20px;
    left: -3px;
}
.youtube{
    float: left;
    padding: 0 0 0 10px;
    margin: -30px 68px 0px;
    font-size: 12px;
    color: #288ad6;
    line-height: 1;
}
.icon-ytb{
    width: 14px;
    height: 14px;
    background: url("../image/sanpham/icon.png");
    background-position-x: 1344px;
    background-position-y: 336px;
    position: absolute;
    background-size: 453px;
    top: 21px;
    left: 62px;
}
.group{
    clear: both;
}
 .group > label {
    font-size: 12px;
    color: #888;
    margin-top: 10px;
 }
 .logo-dmx{
    width: 100px;
    height: 20px;
    background: url("../image/sanpham/icon.png");
    background-position-y: 66px;
    background-position-x: -32px;
    background-size: 462px;
    position: absolute;
 }

