.menuhangSanXuat{
    width: 85%;
    height: 82px;
    margin: 5px auto;
    display: flex;
    flex-wrap: wrap;
    background: white;
}
.menuhangSanXuat > a{
    display: inline-block;
    width: 12.4%;
    border: 1px solid #eee;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    text-align: center;
    margin-left: -1px;
    margin-bottom: -1px;
}
.menuhangSanXuat > a > img{
    max-height: 25px;
    vertical-align: middle;
}
.container-dienthoai{
    width: 85%;
    height: auto;
    margin: 5px auto;
    background: white;
    position: relative;
}
.thongtindanhsach{
	width:100%;
	height:64px;
}
.thongtindanhsach > h3{
    display: inline;
    margin: 10px 5px;
    font-weight: bold;
    line-height: 50px;
    font-size: 16px;
    text-transform: uppercase;
    font-family: "Roboto",sans-serif;
    color: #333;
    width: 100%;
}
.thongtindanhsach > p{
	display: inline;
    font-family: sans-serif;
    color: dodgerblue;
}
.thongtinhangsx{
	text-decoration: underline;
}
.soluong{
	margin: 31px 13px 0 0;
    right: 40px;
    float: right;
}
.soluong > strong{
	color:black;
}
.sapxep{
	float: right;
    transform: translate(-20px, 31px);
    font-family: sans-serif;
    font-size:13px;
    color:dodgerblue;
}
.dropdown{
	width: 137px;
    text-align: center;
    height: 22px;
    color: dodgerblue;
    background: white;
    border: 1px solid dodgerblue;
    font-size: 13px;
}
.dropdown > a{
	text-decoration: none;
}
.listDienThoai{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    border: 1px solid #eee;
}
.moreHight{
    height: 3424px;
}
.listDienThoai > a{
    width: 24.9%;
    height: 308px;
    text-decoration: none;
    position: relative;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
}
.listDienThoai > a > img{
    position: absolute;
    top:8%;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.2s;
}
.listDienThoai > a:hover img{
    top:2%;
}
.listDienThoai > a > .donGiaSP{
    position: absolute;
    bottom: 9%;
    left: 9%;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    font-size: 14px;
    color: #e10c00;
    line-height: 15px;
    font: 14px/18px Helvetica,Arial,'DejaVu Sans','Liberation Sans',Freesans,sans-serif;
    font-weight: 800;
}
.listDienThoai > a > .tenSanPham{
    position: absolute;
    bottom: 18%;
    left: 9%;
    margin: 0;
    line-height: 1.3em;
    font-size: 15px;
    color: #333;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 350;
    outline: none;
    font: 14px/18px Helvetica,Arial,'DejaVu Sans','Liberation Sans',Freesans,sans-serif;
}
.divchuyentrang{
	width: 85%;
    height: 45px;
    margin: 0 auto;
    background: white;
    margin-top: -6px;
    text-align: center;
    padding-top: 14px;
    margin-bottom: 44px;
}
.pchuyenTrang{
	display: inline;
    font-size: 23px;
    padding: 0;
    margin: 0;
    color: dodgerblue;
    font-family: sans-serif;
}
.viewmore{
    background: dodgerblue;
    color: white;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    width: 40px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.8s;
}
.vedauvecuoi{
	width:77px !important;
}
a{
	text-decoration: none;
}
.viewmore:hover{
	background: white;
	border: 1px solid dodgerblue;
	color: dodgerblue;
}

.noneClick{
	background: white;
	border: 1px solid dodgerblue;
	color: dodgerblue;
}

/* CSS của trang tablet */
.Tablet{
    height: 623px;
}
.listDienThoai > a > .anhdanhgia{
	position: absolute;
    top: 2% !important;
    left: 92% !important;
    idth: 21px;
    height: 23px;
}
.labelGiamgia{
	height: 14px;
    background: linear-gradient(-90deg,#ec1f1f 0%,#ff9c00 100%);
    color: white;
    border-radius: 5px;
    padding: 2px 5px;
    position: absolute;
    top: 86%;
    left: 65%;
    font-size: 11px;
    width: 85px;
    font-family: sans-serif;
}
.tiengiamgia{
	display: inline-block;
    font-size: 11px;
    color: #635e5e;
    text-decoration: line-through;
    font-family: sans-serif;
    font-weight: 300;
    position: absolute;
    bottom: 4%;
    left: 9%;
}