body{
	height: 87vh;
	margin: 0;
	font-family: "Roboto", sans-serif;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

label{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    user-select: none;
}
/*ẨN-HIỆN THỊ FORM CLASSLIST*/
.remove{
    display: none !important;
}
.add{
    display: block !important;

}

/*FORM LOGIN*/
.form-login{
	width: 400px;
    height: 325px;
    margin: 120px auto 0 auto;
    border-radius: 2px solid;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    box-shadow: 0.4px 4px 12px rgba(0,0,0, .2);
    text-shadow: 0.4px 0.4px 5px rgba(0,0,0, .2);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: block;
}

.tb-login{
    display: block;
    width: 290px;
    height: 30px;
    /* margin-top: 36px; */
    margin: 36px auto 0 auto;
    font-size: 17px;
    font-family: "Roboto", sans-serif;
}

.submit-login{
	width: 299px;
    height: 39px;
    /* margin: 6px auto; */
    margin: 28px auto;
    display: block;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    background: dodgerblue;
    color: white;
    outline: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.p-login{
    display: block;
    margin: 6px 0 0 74px;
    font-size: 14px;
}

.a-login{
    font-weight: 600;
    cursor: pointer;
}


/*FORM REGISTER*/
.form-register{
    width: 400px;
    height: 575px;
    margin: 74px auto 0 auto;
    border-radius: 2px solid;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    box-shadow: .4px 4px 12px rgba(0,0,0, .2);
    text-shadow: .4px .4px 5px rgba(0,0,0, .2);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

.tb-register1{
    display: block;
    width: 290px;
    height: 24px;
    /* margin-top: 36px; */
    margin: 19px auto 0 auto;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
}

/*TEXTBOX(*) FOR VALIDATE*/
.tb-register{
    display: block;
    width: 290px;
    height: 24px;
    /* margin-top: 36px; */
    margin: 27px auto 0 auto;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
}

.submit-register{
    width: 299px;
    height: 39px;
    /* margin: 6px auto; */
    margin: 28px auto;
    display: block;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    background: dodgerblue;
    color: white;
    outline: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.p-register{
    display: block;
    margin: 5px 0 0 140px;
    font-size: 14px;
}

.a-register{
    cursor: pointer;
    font-weight: 600;
}

.p-mess,.p-mess-fail, .mess-pass{
    display: block;
    font-size: 11px;
    margin: 2px 0 0 54px;
}
.p-mess{
    color: green;
}
.p-mess-fail
{
    color: red;
}

